// Цвета текста
$color-text-dark: #424242;
$color-text-light: #fff;

// Цвета меню
$color-menu-bg-dark: #005abc;
$color-menu-bg-light: #fff;
$color-menu-text-dark: #005abc;
$color-menu-text-light: #fff;

// Цвета таблицы
$color-table-title: #3e7cf7;
$color-table-head-bg: #0151a8;
$color-table-link: #4080ff;
$color-table-link-hover: #ebaa3d;
$color-table-item-bg-hover: #f3f3f3;
$color-table-row-bg-even: #f9f9f9;

// Цвета кнопок
$color-btn-buy: #f3961d;
$color-btn-buy-hover: #f4a033;

// Цвета футера
$color-footer-border-top: #f0f0f0;
$color-footer-bg: #fafafa;